<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete Responsive Pet Food Website Design Tutorial</title>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <!-- header section starts  -->
 <%-  include('./main/shows/header') %> 

    <!-- header section ends -->

    
    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="content">
        <h3><span>hi</span> welcome to our pet shop</h3>
        <a href="#shop" class="btn">shop now</a>
      </div>

      <img src="image/bottom_wave.png" class="wave" alt="" />
    </section>

    <!-- home section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">
      <div class="image">
        <img src="image/about_img.png" alt="" />
      </div>

      <div class="content">
        <h3>premium <span>pet food</span> manufacturer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
          sint, dolore perspiciatis iure consequuntur eligendi quaerat vitae
          shaikh anas.
        </p>
        <a href="#" class="btn">read more</a>
      </div>
    </section>

    <!-- about section ends -->

    <!-- dog and cat food banner section starts -->

    <div class="dog-food">
      <div class="image">
        <img src="image/dog_food.png" alt="" />
      </div>

      <div class="content">
        <h3><span>air dried</span> dog food</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure
          illo, repudiandae rem porro sunt.
        </p>
        <div class="amount">$15.00 - $30.00</div>
        <a href="#"> <img src="image/shop_now_dog.png" alt="" /> </a>
      </div>
    </div>

    <div class="cat-food">
      <div class="content">
        <h3><span>air dried</span> cat food</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure
          illo, repudiandae rem porro sunt.
        </p>
        <div class="amount">$15.00 - $30.00</div>
        <a href="#"> <img src="image/shop_now_cat.png" alt="" /> </a>
      </div>

      <div class="image">
        <img src="image/cat_food.png" alt="" />
      </div>
    </div>

    <!-- dog and cat food banner section ends -->

    <!-- shop section starts  -->
    <%-  include('./main/shows/product') %> 
    

    <!-- shop section ends -->

    <!-- services section starts  -->

    

    <!-- services section ends -->

    <!-- plan section starts  -->


    <!-- plan section ends -->

    <!-- footer -->
    <%-  include('./main/shows/footer') %> 

    <!-- custom js file link  -->
    <script src="js/script.js"></script>
  </body>
</html>
