<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chu</title>
    <link rel="stylesheet" href="./../../css/all.css">
    <link rel="stylesheet" href="./../../css/bootstrap.css">
    <link rel="stylesheet" href="./../../css/product-detail.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="content" style="margin-bottom: 2rem; text-align: center;">
                    <a href="/">Trang chủ</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="content" style="margin-bottom: 2rem; text-align: center;">
                    <a href="/admin/product">Product</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="content" style="margin-bottom: 2rem; text-align: center;">
                    <a href="/admin/user">User</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="content" style="margin-bottom: 2rem; text-align: center;">
                    <a href="/admin/order">Order</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>