
  <form action="/" class="login-form" method="post">
    <h3>sign in</h3>
    <input
      type="text"
      name="email"
      placeholder="enter your email"
      id=""
      class="box"
    />
    <input
      type="password"
      name="password"
      placeholder="enter your password"
      id=""
      class="box"
    />
    <input type="submit" value="sign in" class="btn" />
    <div class="links">
      <a href="#">forget password</a>
      <a href="#">sign up</a>
    </div>
  </form>

