<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
    <link rel="stylesheet" href="./../../css/all.css">
    <link rel="stylesheet" href="./../../css/bootstrap.css">
    <link rel="stylesheet" href="./../../css/product-detail.css">
</head>

<body>
    <%-  include('./header') %>
    <section id="my-order" style="height: 100vh;">

        <div class="container">
            <div class="row">
                <% if (result.length === 0) { %>
                <div class="col-12">
                    <p>Trống</p>
                </div>
                <%} else { %>
                <div class="col-12">
                    <div class="status-order">
                        <p>Tiến trình đơn hàng</p>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="0">Đã hủy</option>
                            <option value="1">Đang giao</option>
                            <option value="2">Đã giao thành công</option>

                        </select>
                    </div>
                </div>
                <div class="col-lg-8 col-12" style="margin: auto;">
                    <div class="box">
                        <div class="box-1">
                            <div class="row-1 row-same">Mã đơn hàng</div>
                            <div class="row-2 row-same">Trạng thái</div>
                            <div class="row-3 row-same"></div>
                            <div class="row-4 row-same"></div>
                            <div class="row-5 row-same">Xóa</div>
                        </div>

                        <% for( let index = 0; index < result.length; index++ ) { %>
                        <div class="box-2">
                            <div class="row-1 row-same">
                                <span>#<a href="/order/<%= result[index].orderID %>"> <%= result[index].orderID %>
                                    </a></span>
                            </div>
                            <div class="row-2 row-same">
                                <% if (result[index].status === 0) { %>
                                <button type="button" class="btn btn-danger">Đã hủy</button>
                                <% } %>
                                <% if (result[index].status === 1) { %>
                                <button type="button" class="btn btn-warning">Đang giao</button>
                                <% } %>
                                <% if (result[index].status === 2) { %>
                                <button type="button" class="btn btn-success">Thành công</button>
                                <% } %>
                            </div>
                            <div class="row-3 row-same">

                            </div>
                            <div class="row-4 row-same"></div>
                            <div class="row-5 row-same">
                                <a href="#">
                                    <span>
                                        <i class="fa-light fa-trash"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <% } %>


                    </div>
                </div>
                <% } %>





            </div>
        </div>
    </section>
    <%-  include('./footer') %>
</body>

</html>